{% extends "layout.html" %}

{% set index = true %}

{% block bodyclass %}frontpage{% endblock %}

{% block title %}Index{% endblock %}

{% block body %}
  <div id="index-intro">
    <p class="byline">by {{ site.author }}</p>

    <p>This webpage contains lecture notes on Topological Quantum Field Theory
    (TQFT), based on the course given at Stony Brook University in the Spring of
    2026. It is a work in progress and is updated frequently.</p>

    <p>You can download the whole book as PDF, or read it online; the online
    version also allows you to leave comments, making it easy to ask questions or
    provide feedback. The online version is powered by the
    <a href="https://gerby-project.github.io/">Gerby project</a>.</p>

    <p>If you have any other questions, you can always contact me at
    <a href="mailto:{{ site.email }}">{{ site.email }}</a>.</p>

    <p>{{ site.author }}</p>
  </div>

  <ul id="index-select">
    <li id="index-read"><a href="/browse"><img src="/static/images/list-ordered.svg">Read online</a>
    <li id="index-pdf"><a href="/{{ pdf_file }}"><img src="/static/images/pdf.svg">Get book as PDF</a>
    <li id="index-source"><a href="{{ site.github }}"><img src="/static/images/github.svg">Get source on GitHub</a>
  </ul>
{% endblock %}

{% block tagline %}
  <em style="display: block; margin: auto; text-align: center">{{ site.subtitle }}</em>
{% endblock %}

{% block sidebar %}
  <h3><a href="/recent-comments">Recent comments</a></h3>
  <ul>
    {% for comment in comments %}
      <li>
        <time datetime="{{ comment.date }}">{{ comment.date.strftime("%b %d %Y") }}</time>:
        <a href="/tag/{{ comment.tag.tag }}#comment-{{ comment.id }}">tag&nbsp;<span class="tag">{{ comment.tag.tag }}</span></a>
        by <cite>{{ comment.author }}</cite>
    {% endfor %}
  </ul>

  {% for update in updates %}
    <h3>{{ update.title | safe }}</h3>
    <ul>
      {% for item  in update.entries %}
        <li>{{ item | safe }}
      {% endfor %}
    </ul>
  {% endfor %}

  <h3><a href="/statistics">Statistics</a></h3>

  <p class="mb-1">The TQFT lectures now consist of
  <ul>
    {% for statistic in statistics %}
      <li>{{ statistic | safe }}
    {% endfor %}
  </ul>
{% endblock %}
